td, th {
 padding : 5px; 
 vertical-align:middle;
}

th {
background-color : #ECEDED;
}


/* Personnalisation des titres */
h1 {
font-family: Segoe UI Semibold;
}

h2 {
color: #005d80;
font-family: Segoe UI Semibold;
}

h3 {
color: #007caa;
font-family: Segoe UI;
}

/* Couleurs */
:root {
  --md-default-fg-color:        #404040; /* texte */
  --md-default-fg-color--light: #7f7f7f; /* h1 */
  --md-accent-fg-color:         #FF8024; /* surbrillance */
}

:root>* {
--md-typeset-a-color: #FF8024; /*  liens */
}

/* Titre du site */
.md-header {
  color: #404040;
  font-family: Segoe UI Semibold;
  padding-left:250px;
  padding-right:250px;
}

/* Onglets */
.md-tabs {
  width: 100%;
  padding-left:250px;
  padding-right:250px;
  color: #007caa;
  font-family: Segoe UI Semibold;
  text-transform: uppercase;

}

/* Etendre affichage de la page */
.md-grid {
  max-width: 1680px;
}

/*class réduction image + centrer*/
.pleinepage {
  width:90%;
  margin: auto;
  display: block;
}

/*class icone*/
.icone {
  height: auto;
  width: 27px;
}

/*class image a centrer*/
.centre {
  margin: auto;
  display: block;
}

